body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
	margin: 0;
}

h1{
  font-size: 2rem;
  font-weight: bolder;
  margin: 20px 0px 20px 0px;
}

.ids {
	width: 80%;
	flex-wrap: wrap;
}
