* {
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

img{
  height: 60px;
  width: 60px;
}

.rounded {
  border-radius: 1000px;
}

.button {
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 3px #666;
}

.button:hover {
  box-shadow: 3px 3px 9px #666;
}

div .card{
  height: 100px;
  width: 100px;
  padding: 25px 25px 25px 25px;
  border-radius: 10px;
  margin: 0px;
  cursor: pointer;
  text-align: center;
  float: left;
  transition: all 0.5s ease;
}

div.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 3px 3px 9px #666;
}